{% extends 'layout.html' %}
{% block head %}
    <style>
        ul {
            list-style-type: none;
            padding: 0;
            margin-bottom: 0;
        }
        .radio > label{
            text-align: left;
            font-size: 1em;
        }
        .radio > label > input{
            display: inline;
            width: 15%;
            float: left;
            margin: 5px 0 0;
        }
    </style>
{% endblock %}
{% block content %}
    <form action="" method="post" class="cbp-mc-form">
        {{ form.hidden_tag() }}
            <div style="text-align: center">
                <strong style="font-size: 1.2em">{{ form.candidate.label(class="form-control-label", style="cursor: default") }}</strong>
                <div style="width: 230px; margin: auto;">
                    {% for value, name in values|zip(names) %}
                        <div class="radio mt-5 mb-5">
                            <label style="padding-top: 5px; margin-bottom: 0"><input type="radio" name="candidate" value="{{ value }}">{{ name }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="cbp-mc-submit-wrap">
                        {{ form.submit(class="cbp-mc-submit") }}
                </div>
            </div>
    </form>
{% endblock %}